@using MusicShop.Models.ViewModel 
@model SearchResultViewModel
@*@using MusicShop.Models;
@model Store *@

@{
    ViewBag.Title = "Home Page";
    var advanceDisplay = (!string.IsNullOrEmpty(Model.Genre) && Model.Genre != "Select a Genre") || Model.FromYear.HasValue || Model.ToYear.HasValue;
    var advanceDisplayStyle = advanceDisplay ? "" : "display:none";
}

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-10">
        @Html.TextBox("search", Model.Search, new {  placeholder="Search", @class="form-control"  })
    </div>
    <div class="col-md-2">
        <input class="form-control" type="submit" value="Search" />
    </div>
</div>
<div class="row">
	<div class="col-md-12" style="text-align:right">
		<a id="advancedSearch" href="#" >Advanced Search</a>
	</div>
</div>
<div class="row advancedSearch"  style="@advanceDisplayStyle">
    <div class="col-md-4">
        @Html.DropDownList("genre", new SelectList(Model.AllGenre), "Select a Genre", new {@class="form-control" })
    </div>
    <div class="col-md-4">
        @Html.TextBox("fromYear", Model.FromYear , new { placeholder="From",   @class="form-control input-group date"  })
    </div>
    <div class="col-md-4">
        @Html.TextBox("toYear", Model.ToYear, new { placeholder="To",  @class="form-control input-group date"  })
    </div>
</div>
}
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>Album</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var album in Model.Store.Albums)
                {
                    <tr data-toggle="modal" data-target="#albumModal" data-url="@Url.Action("Album", new { id = album.Id })">
                        <td>@album.Title</td>
                        <td>@album.Artist</td>
                        <td>@album.Genre</td>
                        <td>@album.Year</td>
                    </tr>
                }
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="albumModal" tabindex="-1" role="dialog" aria-labelledby="albumModalLabel">
    <div id="albumModalContainer"></div>
</div>
    @section scripts{
        <script>
            $('#albumModal').on('show.bs.modal', function (event) {
                var modal = $(this);
                var element = $(event.relatedTarget);
                var url = element.data('url');
                //TODO: Bind the results
                $.get(url, function (data) {
                    $('#albumModalContainer').html(data);
                })
            });

            $('#advancedSearch').click(function () {
                $('.advancedSearch').toggle();
            });

           
            $(function () {
                $('#fromYear').datetimepicker({
                    viewMode: "years",
                    format:"YYYY"
                });
                $('#toYear').datetimepicker({
                    viewMode: "years",
                    format: "YYYY",
                    useCurrent: false
                });
                $("#fromYear").on("dp.change", function (e) {
                    $('#toYear').data("DateTimePicker").minDate(e.date);
                });
                $("#toYear").on("dp.change", function (e) {
                    $('#fromYear').data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
    }
