@using MusicShop.Models;
@model Store

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-10">
        <input class="form-control" type="text" name="search" placeholder="Search"/>
    </div>
    <div class="col-md-2">
        <input class="form-control" type="submit" value="Search" />
    </div>
</div>
<div class="row">
	<div class="col-md-12" style="text-align:right">
		<a id="advancedSearch" href="#" >Advanced Search</a>
	</div>
</div>
<div class="row advancedSearch">
    <div class="col-md-4">
        <select name="genre" class="form-control">
            <option value="">Select a Genre</option>
            @foreach(var genre in Model.Albums.Select(_ => _.Genre).Distinct())
            {
                <option value="@genre">@genre</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <input class="form-control" type="number" name="fromYear" placeholder="From"/>
    </div>
    <div class="col-md-4">
        <input class="form-control" type="number" name="toYear" placeholder="To"/>
    </div>
</div>
}
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover table-striped table-condensed">
			<thead>
				<tr>
					<th>Album</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				@foreach( var album in Model.Albums)
                {
                    <tr data-toggle="modal" data-target="#albumModal" data-url="@Url.Action("Album", new { id = album.Id })">
                        <td>@album.Title</td>
                        <td>@album.Artist</td>
                        <td>@album.Genre</td>
                        <td>@album.Year</td>
                    </tr>
                }
			</tbody>
		</table>
	</div>
</div>

@section scripts{
      <script>
          $('#albumModal').on('show.bs.modal', function (event) {
              var modal = $(this);
              var element = $(event.relatedTarget);
              var url = element.data('url');

              //TODO: Bind the results
          })
      </script>  
}